body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background-color: #ede5df;
    font-size: 20px;
}

.frontpage {
    background-image: url('images/bg-lotus.jpg');
    background-size: auto 80%;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.name {
    font-family: 'Pinyon Script', cursive;
    font-size: 100px;
}

